@import "tailwindcss";
@config "../tailwind.config.ts";

@layer base {
  :root {
    --background: 0 0% 98%;
    --background-accent: 0 0% 96.1%;
    --border: 220 13% 91%;
    --shadow: ;
  }

  .dark {
    --background: 210 11.1% 3.53%;
    --background-accent: 0 0% 14.9%;
    --border: 0 0% 14.9%;
  }
}

@layer base {
  ::-webkit-scrollbar {
    display: none;
  }
  body {
    @apply bg-background;
  }
}
